<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        {% for key, flash in _view.session.get('_flash') %}
        <div class="{{ flash }}">
            {% trans key from 'FOSUserBundle' %}
        </div>
        {% endfor %}
        {% block content %}
        {% endblock content %}
    </body>
</html>
