phpunit.xml
Tests/autoload.php
nbproject
catalog.xml
Propel/om/*
Propel/map/*

vendor/doctrine
vendor/doctrine-common
vendor/doctrine-dbal
vendor/doctrine-mongodb
vendor/doctrine-mongodb-odm
vendor/symfony