{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
{% if error %}
    <div>{{ error }}</div>
{% endif %}

<form action="{{ path("_security_check") }}" method="post">
    <label for="username">{% trans from 'FOSUserBundle' %}security.login.username{% endtrans %}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{% trans from 'FOSUserBundle' %}security.login.password{% endtrans %}</label>
    <input type="password" id="password" name="_password" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{% trans from 'FOSUserBundle' %}security.login.remember_me{% endtrans %}</label>

    <input type="submit" name="{% trans from 'FOSUserBundle' %}security.login.submit{% endtrans %}" />
</form>
<p>
    <a href="{{ path('fos_user_user_request_reset_password') }}">{% trans from 'FOSUserBundle' %}security.login.request_reset_password{% endtrans %}</a>
</p>
{% endblock content %}
