{% form_theme form form.getOption('theme') %}
<form action="{% path 'doctrine_user_group_update' %}" {{ form|render_enctype }} method="POST" class="doctrine_user_group_edit">
    {{ form|render }}
    <div>
        <input type="submit" value="{% trans 'Update group' from 'DoctrineUserBundle' %}" />
    </div>
</form>
