{% form_theme form form.getOption('theme') %}
<form action="{{ path('fos_user_group_create') }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_new">
    {{ form_field(form) }}
    <div>
        <input type="submit" value="{% trans 'Create group' from 'FOSUserBundle' %}" />
    </div>
</form>
