{% if _view.session.hasFlash('doctrine_user_group_create/success') %}
<div class="doctrine_user_group_create_success">
    {% trans 'The group has been created successfully' from DoctrineUserBundle %}
</div>
{% endif %}

{% if _view.session.hasFlash('doctrine_user_group_update/success') %}
<div class="doctrine_user_group_update_success">
    {% trans 'The group has been updated successfully' from DoctrineUserBundle %}
</div>
{% endif %}

<div class="doctrine_user_group_show">
    <table>
        <tbody>
            <tr>
                <th>{% trans "Name" from DoctrineUserBundle %}</th>
                <td>{{ group.getName() }}</td>
            </tr>
            <tr>
                <th>{% trans "Description" from DoctrineUserBundle %}</th>
                <td>{{ group.getDescription()|nlbr }}</td>
            </tr>
        </tbody>
    </table>
</div>
