<div class="doctrine_user_group_show">
    <table>
        <tbody>
            <tr>
                <th>{% trans "Name" from 'DoctrineUserBundle' %}</th>
                <td>{{ group.getName() }}</td>
            </tr>
            <tr>
                <th>{% trans "Description" from 'DoctrineUserBundle' %}</th>
                <td>{{ group.getDescription()|nlbr }}</td>
            </tr>
        </tbody>
    </table>
</div>
