{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
{% set email = user.getEmail() %}
<p>
{% trans from 'FOSUserBundle' %}user.check_resetting_email.message{% endtrans %}
</p>
{% endblock %}
