<?php $view->extend('DoctrineUserBundle::layout.php') ?>

<?php echo $form->form($view['router']->generate('doctrine_user_user_create'), array('class' => 'doctrine_user_user_new')) ?>
    <div>
        <?php echo $form['username']->label('Username:') ?>
        <?php echo $form['username']->widget() ?>
        <?php echo $form['username']->errors() ?>
    </div>
    <div>
        <?php echo $form['email']->label('Email:') ?>
        <?php echo $form['email']->widget() ?>
        <?php echo $form['email']->errors() ?>
    </div>
    <div>
        <?php echo $form['password']['first']->label('Password:') ?>
        <?php echo $form['password']['first']->widget() ?>
        <?php echo $form['password']['first']->errors() ?>
    </div>
    <div>
        <?php echo $form['password']['second']->label('Password (again):') ?>
        <?php echo $form['password']['second']->widget() ?>
        <?php echo $form['password']['second']->errors() ?>
    </div>
    <div>
        <input type="submit" value="Create user" />
    </div>
</form>
