{% form_theme form 'FOSUserBundle::form.html.twig' %}

<form action="{{ path('fos_user_user_new') }}" {{ form_enctype(form) }} method="POST" class="fos_user_user_new">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'user.new.submit'|trans([], 'FOSUserBundle') }}" />
    </div>
</form>
