<form action="{{ path('fos_user_user_send_resetting_email') }}" method="POST" class="fos_user_user_request_reset_password">
    <div>
        <label for="username">{% trans 'user.password_request_reset.username' from 'FOSUserBundle' %}</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <input type="submit" value="{% trans 'user.password_request_reset.submit' from 'FOSUserBundle' %}" />
    </div>
</form>