<form action="{{ path('fos_user_user_send_resetting_email') }}" method="POST" class="fos_user_user_request_reset_password">
    <div>
        <label for="username">{{ 'user.password_request_reset.username'|trans([], 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <input type="submit" value="{{ 'user.password_request_reset.submit'|trans([], 'FOSUserBundle') }}" />
    </div>
</form>