{% form_theme form 'FOSUserBundle::form.html.twig' %}
<form action="{{ path('fos_user_user_reset_password_update', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_user_reset_password">
    {{ form_field(form) }}
    <div>
        <input type="submit" value="{% trans 'user.reset_password.submit' from 'FOSUserBundle' %}" />
    </div>
</form>
