<div class="doctrine_user_user_show">
    <p>{% trans "Username" from 'DoctrineUserBundle' %}: {{ user.getUsername() }}</p>
    <p>{% trans "Email" from 'DoctrineUserBundle' %}: {{ user.getEmail() }}</p>
</div>
