<div class="fos_user_user_show">
    <p>{{ 'user.show.username'|trans([], 'FOSUserBundle') }}: {{ user.getUsername() }}</p>
    <p>{{ 'user.show.email'|trans([], 'FOSUserBundle') }}: {{ user.getEmail() }}</p>
</div>
