<div class="fos_user_user_show">
    <p>{% trans from 'FOSUserBundle' %}user.show.username{% endtrans %}: {{ user.getUsername() }}</p>
    <p>{% trans from 'FOSUserBundle' %}user.show.email{% endtrans %}: {{ user.getEmail() }}</p>
</div>
