<div class="fos_user_user_show">
    <p>{% trans "user.show.username" from 'FOSUserBundle' %}: {{ user.getUsername() }}</p>
    <p>{% trans "user.show.email" from 'FOSUserBundle' %}: {{ user.getEmail() }}</p>
</div>
