{% if _view.session.hasFlash('doctrine_user_session_create/error') %}
<div class="doctrine_user_session_create_error">
    {% trans 'Bad username or password, please try again.' from DoctrineUserBundle %}
</div>
{% endif %}

{{ form|render(form.getOption('theme')) }}
