{% if _view.session.hasFlash('doctrine_user_session_create/error') %}
<div class="doctrine_user_session_create_error">
    {% trans 'Bad username or password, please try again.' from DoctrineUserBundle %}
</div>
{% endif %}

<form action="{% route 'doctrine_user_session_create' %}" method="POST" class="doctrine_user_user_new">
    <ul>
        {% for field in form.getVisibleFieldsRecursively() %}
            {{ field|render }}
        {% endfor %}
        <li>
            <input type="submit" value="Login" />
        </li>
    </ul>
    {{ form|render_hidden }}
</form>
